.container {
  width: 90%;
  margin: 0px auto;
}
.top-button {
  border: 4px solid black;
  padding: 2px;
  border-radius: 5px;
  margin-right: 20px;
}
.sidebar {
  float: left;
  position: relative;
  margin-top: 20px;
  width: 20%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  border: 1px solid black;

}
.archive {
  display: block;
}
.social-media-blog {
  display: block;
  float: center;
  text-align: center;
}
.main-content {
  float: left;
  position: relative;
  width: 70%;
  margin-top: 20px;
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid black;
  margin-bottom: 3%;
}
header {
  font-family: Decima,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
}
#buttons {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: 2px solid black;
}
ul {
  margin-top: 10px;
}
li {
  margin-bottom: 10px;
  margin-left: -15px;
}
.sidebar > div > h3 {
  text-align: center;
  margin-bottom: 5px;
}
.ruby-code {
  font-family: consolas, courier, monospace;
  font-size: .8em;
  line-height: 1.2em;
  white-space: pre;
  background-color: #303030; /* any colour's okay, 
  so long as it's different to the page-background  
  (for ease of recognition) and contrast to the text */
  color: #fff; /* likewise the background-color comment */
  border: 1px solid #666;
  border-radius: 1em; /* just in case */
  margin-top: 1.2em;
}
/* @group Ruby keyword styles */
.ruby-constant   { color: #7fffd4; background: transparent; }
.ruby-keyword    { color: #00ffff; background: transparent; }
.ruby-integer    { color: #ae81ff; background: transparent; }
.ruby-operator   { color: #f9276c; background: transparent; }
.ruby-string     { color: #e6db74; background: transparent; }
.ruby-class      { color: #66d9e7; background: transparent; }
.ruby-method     { color: #a6e22a; background: transparent; }
.ruby-return     { color: #5eff1f; font-weight: bold; background: transparent; }
.ruby-comment    { color: #75715a; background: transparent; }
.ruby-argument   { color: #f59720; background: transparent; }
.ruby-regexp     { color: #ffa07a; background: transparent; }
.ruby-value      { color: #7fffd4; background: transparent; }

.italics {
  font-style: italic;
}
